<div id="register">
      <fieldset>
        <legend>Register your Ketchup:</legend>
          <input type="text" name="office" value="" id="office" /><br />
        <p>
          <input type="submit" id="registerbutton" value="Register" />
        </p>
      </fieldset>
</div>

<a href="http://github.com/mrtazz/ketchupstatus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

<div id="content">
  <div id="headline">
    <h1>{{ headline }}</h1>
  </div>
  <div id="byline">
    <h2> {{ byline }}</h2>
  </div>

  <div id="statusimages">
    <img src="/images/ketchup_all.png" width="600px">
  </div>
  <div id="usage">
      <p class="fat"> Usage: </p>
      <p>
      Just register your ketchup add the top. You will get a token and a link to a webform
      where you can update the status.</p>
      <p class="fat">Don't lose the token. It is not recoverable!</p>
      <p>
      The webform is of the form http://ketchupstatus.heroku.com/ketchup/yourname/token.
      </p>
      <p class="fat"> About: </p>
      <p> In our office we often go to the supermarket, before checking what the status of
          our shared ketchup is. Therefore I decided to build this app on a weekend and start
          to learn <a href="http://sinatrarb.com">Sinatra</a> with this. Hosting is done with
          <a href="http://heroku.com">Heroku</a> and the source is available on
          <a href="http://github.com/mrtazz/ketchupstatus">github</a>.
      </p>
      <p class="fat"> Beware: </p>
      <p> This is just a fun project, so no guarantees and usage on own risk. Only things stored
          are the name of your ketchup, the status and the token.</p>
  </div>

</div>
