<div id="register">
      <fieldset>
        <legend>Register your Ketchup:</legend>
          <input type="text" name="office" value="" id="office" /><br />
        <p>
          <input type="submit" id="registerbutton" value="Register" />
        </p>
      </fieldset>
</div>

<a href="http://github.com/mrtazz/ketchupstatus"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

<div id="content">
  <div id="headline">
    <h1>{{ headline }}</h1>
  </div>
  <div id="byline">
    <h2> {{ byline }}</h2>
  </div>

  <div id="statusimages">
    <img src="/images/ketchup_all.png" width="600px">
  </div>
  <div id="usage">
      <p>Usage:</p>
      <p>Register your Ketchup.</p>
      <p>Get a link to check it.</p>
      <p>And a bookmark to update it.</p>
  </div>

</div>
