
<div id="content">
    <h2> Update status for {{ name }}.</h2>

    <input type="text" name="{{ name }}" value="" id="valueinput" /><br />
    <input type="submit" id="updatebutton" value="Update" />
</div>
